<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.url">
			jdbc:postgresql://localhost:5432/peneira
		</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">qwe123@</property>
		<property name="connection.driver_class">
			org.postgresql.Driver
		</property>
		<property name="dialect">
			org.hibernate.dialect.PostgresPlusDialect
		</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>

		<!-- Classes Mapeadas -->
		<mapping class="br.com.peneira.bean.vo.AtlheteVO" />
		<mapping class="br.com.peneira.bean.vo.MessageVO" />
		<mapping class="br.com.peneira.bean.vo.ScoutVO" />
		<mapping class="br.com.peneira.bean.vo.VideoVO" />
		
	</session-factory>

</hibernate-configuration>